langchain
langgraph
langchain-core
langchain-community==0.3.31
ipykernel
ipython
python-dotenv
langchain-openai
langchain-groq
dotenv
pydantic
faiss-cpu
pylance
langchain-tavily
litellm
pypdf
chroma
pinecone
tiktoken
langchain_pinecone
deepeval
rank_bm25